<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <compilation debug="true" />
    <customErrors mode="Off" />
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>    
  </system.web>
  <appSettings>
    <add key="_db_Default" value="" />
    <add key="_db_NagarjunaCollege" value="Data Source=(local);Initial Catalog=NagarjunaCollege;User ID=sa;Password=ktmnepal@1" />
  </appSettings>
  <system.webServer>
    <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>